.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-images {
  display: flex;
  margin: 1em 0;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.1em;
  height: 200px;
  width: 100%;
  overflow: hidden;

  img {
    flex: 1;
    object-fit: cover;
  }
}

.note-details {
  .input-text {
    display: block;
    width: 100%;
    color: #333;
    background-color: transparent;
    border: 0;
    outline: 0;
    box-shadow: 0;

    &:focus {
      border: 0;
      outline: 0;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .content {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  p {
    white-space: pre-wrap;
    margin-bottom: 1.5rem;
  }
}

.note-meta {
  font-size: 0.8rem;
  color: #666;
  display: flex;
  flex-direction: column;
}

.loading {
  text-align: center;
  padding: 2rem;
}
