@if(pinnedNotes.length > 0) {
<h3>{{ "Fixadas" | uppercase }}</h3>

<div
  id="pinned-notes"
  class="grid"
  cdkDropList
  cdkDropListOrientation="mixed"
  (cdkDropListDropped)="drop($event, pinnedNotes)"
>
  @for (n of pinnedNotes; track n.id) {
  <div
    cdkDrag
    (cdkDragStarted)="isDragging.set(true)"
    (cdkDragEnded)="handleDragEnd($event)"
  >
    <ng-container
      *ngTemplateOutlet="noteTemplate; context: { $implicit: n, $index: n.id }"
    ></ng-container>
  </div>
  }
</div>
}

<h3>{{ "Outras" | uppercase }}</h3>
<div
  id="other-notes"
  class="grid"
  cdkDropList
  cdkDropListOrientation="mixed"
  (cdkDropListDropped)="drop($event, otherNotes)"
>
  @for (n of otherNotes; track n.id) {
  <div
    cdkDrag
    (cdkDragStarted)="isDragging.set(true)"
    (cdkDragEnded)="handleDragEnd($event)"
  >
    <ng-container
      *ngTemplateOutlet="noteTemplate; context: { $implicit: n, $index: n.id }"
    ></ng-container>
  </div>
  }
</div>

<ng-template #noteTemplate let-note let-index="index">
  <mat-card
    appearance="outlined"
    class="note-item"
    [style]="getStyleByColor(note)"
    routerLink="/notes/{{ note.id }}"
    [routerLinkActive]="!isDragging() ? 'active' : ''"
  >
    @if(note.images.length > 0) {
    <div class="note-images">
      @for (image of note.images; track $index) {
      <img src="{{ image | fileToURL }}" title="{{ image }}" />
      }
    </div>
    }
    <mat-card-header class="note-header">
      <mat-card-title>
        {{ note.title }}
      </mat-card-title>
      <app-toggle-pin [note]="note" />
    </mat-card-header>
    <mat-card-content>{{ note.content }}</mat-card-content>
    <mat-card-footer class="note-footer">
      <span>
        {{ note.created_at | date : "dd/MM/yyyy" }}
      </span>
      <div class="control startHidden">
        <button
          type="button"
          matIconButton
          (click)="$event.stopPropagation(); onDelete.emit(note)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</ng-template>
