.note-item {
  cursor: pointer;
}

.note-header {
    justify-content: space-between;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    span {
        font-size: small;
        align-content: end;
    }
}