<form
  class="note-form"
  [formGroup]="createNoteForm"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit()"
>
  <h1>Nova nota</h1>
  <mat-form-field>
    <mat-label for="title">Title</mat-label>
    <input matInput type="text" formControlName="title" id="title" />
    @if(createNoteForm.get('title')!.invalid) {
    <mat-error *ngIf="createNoteForm.get('title')!.errors?.['required']">
      Título é obrigatorio
    </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label for="content">Content</mat-label>
    <textarea matInput formControlName="content" id="content"></textarea>
    @if(createNoteForm.get('content')!.invalid) {
    <mat-error
      *ngIf="createNoteForm.get('content')!.errors?.['maxlength']"
      id="content-error"
    >
      O conteúdo deve ter no máximo 200 caracteres.
    </mat-error>
    }
  </mat-form-field>

  <div class="controls">
    <note-color-input
      name="color"
      (onColorChange)="onColorChange($event)"
    ></note-color-input>
    <div class="images">
      <input
        type="file"
        multiple
        name="images"
        #fileInput
        style="display: none"
        (change)="onImagesSelected($event)"
      />
      <button
        matIconButton
        type="button"
        (click)="fileInput.click()"
        style="background-color: transparent; border: 0"
      >
        <mat-icon>image</mat-icon>
      </button>
      @if (images().length > 0) {
      <div class="images-container">
        @for (i of imagesPreview(); track $index) {
        <img [src]="i" alt="" />
        }
      </div>
      }
    </div>
  </div>

  <button
    class="submit-button"
    matButton="filled"
    type="submit"
    [disabled]="createNoteForm.invalid"
  >
    Criar
  </button>
</form>
