.note-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.submit-button {
  margin-top: 1em;
}

.images-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  height: 100px;
  align-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
